.radio-group-01 {
    .radio-button-01 {
        >span.MuiRadio-root {
            padding: 4px;
        }
    }
}

.tooltip-01{
    .title{
        color: red;
    }
}

form{
    min-height: 300px;
    padding: 32px;
    margin: 16px 0;
    background-color: aliceblue;
    border-radius: 16px;
}